# Gradle / Android
*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore

# 签名密钥与口令（切勿提交）
keystore/
*.jks

# OS / IDE misc
Thumbs.db
